{{#if edit}}
<div class="md-editor" id="{{elementId}}">
    <div class="md-header btn-toolbar">
        <div class="btn-group">
            <button {{action 'bold'}} tabindex="-1" title="Bold" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-bold"></span> </button>
            <button {{action 'italic'}} tabindex="-1" title="Italic" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-italic"></span> </button>
            <button {{action 'heading'}} tabindex="-1" title="Heading" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-header"></span> </button>
        </div>
        <div class="btn-group">
            <button tabindex="-1" title="URL/Link" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-link"></span> </button>
            <button {{action 'selectImage'}} tabindex="-1" title="Image" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-picture"></span> </button>
        </div>
        <!--
        <div class="btn-group">
            <button tabindex="-1" title="Unordered List" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-list"></span> </button>
            <button tabindex="-1" title="Ordered List" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-th-list"></span> </button>
            <button tabindex="-1" title="Code" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-asterisk"></span> </button>
            <button tabindex="-1" title="Quote" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-comment"></span> </button>
        </div>
        -->
        <div class="btn-group pull-right">
            <button {{action 'preview'}} tabindex="-1" title="Preview" type="button" class="btn-sm btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Preview
            </button>
        </div>
    </div>
    {{textarea value=text placeholder="Hier Text einfügen"}}
</div>            
{{else}}
    {{#if editable}}
    <div class="md-header btn-toolbar">
        <div class="btn-group pull-right">
            <button {{action 'preview'}} tabindex="-1" title="edit" type="button" class="btn-sm btn btn-primary">Edit</button>
        </div>
    </div>
    {{/if}}
    {{parsedMarkdownCites}}
{{/if}}
{{yield}}
