{{#if compEdit}}
<div class="md-editor" id="{{elementId}}">
    <div class="md-header btn-toolbar">
        <div class="btn-group">
            <button {{action 'bold'}} tabindex="-1" title="Bold" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-bold"></span> </button>
            <button {{action 'italic'}} tabindex="-1" title="Italic" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-italic"></span> </button>
            <button {{action 'heading'}} tabindex="-1" title="Heading" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-header"></span> </button>
        </div>
        <div class="btn-group">
            <button {{action 'addFootnote'}} tabindex="-1" title="Fußnote" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-link"></span> </button>
            <button {{action 'selectImage'}} tabindex="-1" title="Bild auswählen" type="button" class="btn-default btn-sm btn"><span class="glyphicon glyphicon-picture"></span> </button>
        </div>
        <div class="btn-group pull-right">
            <button {{action 'preview'}} tabindex="-1" title="Preview" type="button" class="btn-sm btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Preview
            </button>
        </div>
    </div>
    {{textarea value=text placeholder="Hier Text einfügen"}}
</div>            
{{else}}
    {{#if editable}}
    <div class="md-header btn-toolbar">
        <div class="btn-group pull-right">
            <button {{action 'preview'}} tabindex="-1" title="edit" type="button" class="btn-sm btn btn-primary">Edit</button>
        </div>
    </div>
    {{/if}}
    <div class="oik-view">
        {{parsedMarkdownCites}}
    </div>
{{/if}}
{{yield}}
