{{#top-menu}}
    Administration
{{/top-menu}}
<div class="container">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="{{currentUrl "bla"}}#users" aria-controls="users" role="tab" data-toggle="tab">Nutzer</a></li>
            <li role="presentation" class=""><a href="{{currentUrl "bla"}}#units" aria-controls="units" role="tab" data-toggle="tab">Units</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="users">
                <h4>User verwalten</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Aktiv</th>
                            <th>Editor</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each model.users as |user|}}
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{input type="checkbox" checked=user.active}}</td>
                                <td>{{input type="checkbox" checked=user.isEditor}}</td>
                                <td>{{input type="checkbox" checked=user.isAdmin}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <button class="btn btn-primary pull-right" {{action 'saveUsers'}}>Speichern</button>
            </div>
            <div role="tabpanel" class="tab-pane" id="units">
                <h4>Units veröffentlichen</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Nutzer</th>
                            <th>Veröffentlicht</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each model.units as |unit|}}
                            <tr>
                                <td>
                                    {{#link-to "edit-page" unit.id unit.pages.firstObject.id (query-params previewAll="true")}}
                                        {{unit.title}}
                                    {{/link-to}}
                                </td>
                                <td>{{unit.user.name}}</td>
                                <td>{{input type="checkbox" checked=unit.published}}</td>
                                <td>
                                    <a class="" {{action "deleteUnitConfirm" unit}} title="Unit löschen"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <button class="btn btn-primary pull-right" {{action 'saveUnits'}}>Speichern</button>
            </div>
        </div>
    </div>
</div>

<!-- confirm delete page modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirmDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Einheit wirklich löschen?</h4>
            </div>
            <div class="modal-body">
                <b>ID:</b> {{deleteUnit.id}} <br>
                <b>User:</b> {{deleteUnit.user.name}} <br>
                <b>Title:</b> {{deleteUnit.title}} <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" {{action "deleteUnit"}} class="btn btn-danger" data-dismiss="modal">Löschen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{outlet}}
