{{! app/templates/login.hbs }}
{{#top-menu}}
    Login
{{/top-menu}}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{model.confirmed}}
            {{#if (startsWith model.confirmed 'false')}}
                <button class="btn" {{action 'sendConfirm'}}>Mail-Adresse bestätigen</button>
            {{else}}
                <strong>Mail-Adresse erfolgreich bestätigt</strong>
            {{/if}}
        </div>
    </div>
    {{#if errorMessage}}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger">
                    <strong>Confirm failed:</strong> {{errorMessage}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
{{outlet}}
