{{#top-menu}}
    {{model.page.title}} [Editieren]
{{/top-menu}}
<div class="container">
    {{#each model.page.rows as |row index|}}
        <div class="row equal">
            {{#if model.page.extendable}}
                <div class="delete-row">
                    <a class="" {{action "deleteRow" row}} title="Zeile löschen"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            {{/if}}
            <div class="col-md-6 {{genColClass model.page.page_type index true model.unit.color_scheme}} oik-col">
                {{oik-md text=row.left_markdown editable=true edit=doEdit image=row.leftImage has_image=row.left_has_image selectImage=(action "selectImage") anchorId=(concat index "-left")}}
            </div>
            <div class="col-md-6 {{genColClass model.page.page_type index false model.unit.color_scheme}} oik-col">
                {{oik-md text=row.right_markdown editable=true edit=doEdit image=row.rightImage has_image=row.right_has_image selectImage=(action "selectImage") anchorId=(concat index "-right")}}
            </div>
        </div>
    {{/each}}
    <hr>
    <div class="row">
        <div class="col-md-12">
            {{#if model.page.extendable}}
                <button {{action "addRow"}} class="btn btn-sm btn-default">Neue Zeile</button>
            {{/if}}
            <div class="btn-toolbar pull-right">
                <button {{action "save"}} class="btn btn-sm btn-primary">Speichern</button>
                {{#if (startsWith model.page.page_type "critic")}}
                    <button {{action "saveAndExit"}} class="btn btn-sm btn-primary">Speichern und Ende</button>
                {{else}}
                    {{#if (startsWith model.page.page_type "hearing")}}
                        {{#if (isLast model.page model.unit.pages)}}
                            <button {{action "saveAndSynthesis"}} class="btn btn-sm btn-primary">Speichern und Synthese</button>
                        {{/if}}
                    {{/if}}
                    <button {{action "saveAndNext"}} class="btn btn-sm btn-primary">Speichern und weiter</button>
                {{/if}}
            </div>
            {{#if (startsWith model.page.page_type "opening")}}
            {{else}}
                <button {{action "prevPage"}} class="btn btn-sm pull-left">Zurück</button>
            {{/if}}
        </div>
    </div>
</div>

{{oik-image-modal unit=model.unit images=model.unit.images getImagePromise=getImagePromise}}

{{outlet}}
