{{#top-menu}}
    {{model.page.title}}
{{/top-menu}}
<div data-spy="affix" data-offset-top="100" id="affix-left">
		<canvas width="15" height="120"></canvas>
	</div>
    <div class="container" id="main-container">
        {{#each model.page.rows as |row|}}
		<div class="row equal margin-row">
            <div class="col-md-6 {{row.left_style_classes}}">
                {{#if row.leftImage}}
                    <a href="{{currentUrl "bla"}}#lb-{{row.leftImage.id}}">
                        <img src="{{row.leftImage.blobUrl}}" class="full-width-image">
                    </a>
                    <div class="lightbox" id="lb-{{row.leftImage.id}}">
                        <img src="{{row.leftImage.blobUrl}}">
                        <div>{{row.leftImage.caption}}</div>
                        <a class="lightbox-close" href="{{currentUrl "b"}}#_"></a>
                    </div>
                {{else}}
                    {{oik-md text=row.left_markdown image=row.leftImage}}
                {{/if}}
			</div>
            <div class="col-md-6 {{row.right_style_classes}}">
                {{#if row.rightImage}}
                    <a href="{{currentUrl "bla"}}#lb-{{row.rightImage.id}}">
                        <img src="{{row.rightImage.blobUrl}}" class="full-width-image">
                    </a>
                    <div class="lightbox" id="lb-{{row.leftImage.id}}">
                        <img src="{{row.rightImage.blobUrl}}">
                        <div>{{row.rightImage.caption}}</div>
                        <a class="lightbox-close" href="{{currentUrl "b"}}#_"></a>
                    </div>
                {{else}}
                    {{oik-md text=row.right_markdown image=row.rightImage}}
                {{/if}}
			</div>
        </div>
    {{/each}}
    <div class="row">
        <a {{action 'prevPage'}}><img src="images/back.png"></a>
        <a {{action 'nextPage'}} class="pull-right"><img src="images/next.png"></a>
    </div>
</div>
{{outlet}}
