{{#top-menu}}
    {{model.page.title}}
{{/top-menu}}
<div data-spy="affix" data-offset-top="100" id="affix-left">
		<canvas width="30" height="300"></canvas>
	</div>
    <div class="container" id="main-container">
        {{#each model.page.rows as |row index|}}
		<div class="row equal margin-row">
            <div class="col-md-6 {{genColClass model.page.page_type index true model.unit.color_scheme}}">
                {{#if row.left_has_image}}
                    <a href="{{currentUrl "bla"}}#lb-{{row.leftImage.id}}">
                        <img src="{{row.leftImage.blobUrl}}" class="full-width-image">
                    </a>
                    <div class="lightbox" id="lb-{{row.leftImage.id}}">
                        <img src="{{row.leftImage.blobUrl}}">
                        <div>{{row.leftImage.caption}}</div>
                        <a class="lightbox-close" href="{{currentUrl "b"}}#_"></a>
                    </div>
                {{/if}}
                {{oik-md text=row.left_markdown image=row.leftImage}}
                {{#if row.left_is_argument}}
                    <div class="text-right pull-right bottom-controls">
                        <label class="checkbox-inline">{{input type="checkbox"}}✓</label>
                        <label class="checkbox-inline">{{input type="checkbox"}}✗</label>
                        <label class="checkbox-inline">{{input type="checkbox"}}?</label>
                    </div>
                {{/if}}
			</div>
            <div class="col-md-6 {{genColClass model.page.page_type index false model.unit.color_scheme}}">
                {{#if row.right_has_image}}
                    <a href="{{currentUrl "bla"}}#lb-{{row.rightImage.id}}">
                        <img src="{{row.rightImage.blobUrl}}" class="full-width-image">
                    </a>
                    <div class="lightbox" id="lb-{{row.rightImage.id}}">
                        <img src="{{row.rightImage.blobUrl}}">
                        <div>{{row.rightImage.caption}}</div>
                        <a class="lightbox-close" href="{{currentUrl "b"}}#_"></a>
                    </div>
                {{/if}}
                {{oik-md text=row.right_markdown image=row.rightImage}}
                {{#if row.right_is_argument}}
                    <div class="text-right pull-right bottom-controls">
                        <label class="checkbox-inline">{{input type="checkbox"}}✓</label>
                        <label class="checkbox-inline">{{input type="checkbox"}}✗</label>
                        <label class="checkbox-inline">{{input type="checkbox"}}?</label>
                    </div>
                {{/if}}
			</div>
        </div>
    {{/each}}
    <div class="row">
        {{#if (isNotFirst model.page model.unit.pages)}}
            <a {{action 'prevPage'}}><img src="images/back.png"></a>
        {{/if}}
        {{#if (isNotLast model.page model.unit.pages)}}
            <a {{action 'nextPage'}} class="pull-right"><img src="images/next.png"></a>
        {{/if}}
    </div>
</div>
{{outlet}}
