{{top-menu}}
<div data-spy="affix" data-offset-top="100" id="affix-left">
		affix
	</div>
    <div class="container" id="main-container">
        {{#each model.page.rows as |row|}}
		<div class="row-fluid equal margin-row">
            <div class="col-md-6 {{row.left_style_classes}}">
                {{row.left_html}}
			</div>
            <div class="col-md-6 {{row.right_style_classes}}">
                {{row.right_html}}
			</div>
        </div>
        {{/each}}
	</div>
{{outlet}}
