<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
<div class="topnav">
<div class="navbar-header">
    <a class="navbar-brand topnav" href="http://www.uni-goettingen.de"><img class="navbar-image" src="images/logo.png"></a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#about"><img src="images/info.png" class="navbar-image"></a>
        </li>
    </ul>
</div>
</div>
</nav>
	<div data-spy="affix" data-offset-top="100" id="affix-left">
		affix
	</div>
    <div class="container" id="main-container">
        {{#each model.rows as |row|}}
		<div class="row-fluid equal margin-row">
            <div class="col-md-6 {{row.left_style_classes}}">
                {{row.left_html}}
			</div>
            <div class="col-md-6 {{row.right_style_classes}}">
                {{row.right_html}}
			</div>
        </div>
        {{/each}}
	</div>
{{outlet}}
