{{top-menu}}
<div class="container">
<div class="col-md-3">
    {{auth-image imageSrc="api/get-image/2" styleClasses="full-width-image"}}
    {{currentUser.user.name}}
    {{#each currentUser.user.units as |unit|}}
        <p>{{unit.title}}</p>
    {{/each}}
    </div>
</div>
{{outlet}}
