{{#top-menu}}
    Profil
{{/top-menu}}
<div class="container">
    <div class="row margin-row pad">
        <div class="col-md-12 grey-light">
            Hallo <b>{{currentUser.user.name}}</b>! {{#if currentUser.user.units}}Hier kannst Du Dir deine Units ansehen:{{/if}}
        </div>
    </div>
    <div class="row margin-row pad {{if currentUser.user.units.length "equal" ""}}">
        {{#each currentUser.user.units as |unit index|}}
            <div class="col-md-3 text-center unit-preview {{if (isEven index) "grey-strong" "grey-light"}}">
                {{#link-to "page" unit.id unit.pages.firstObject.id}}
                    {{unit.rotateImageId}}
                    {{auth-image imageSrc="api/get-rotate-image/${id}/0" imageId=unit.rotateImage.id styleClasses="full-width-image"}}
                    <br>
                    <b>{{unit.title}}</b>
                {{/link-to}}
            </div>
        {{/each}}
        {{#if (userInGroup currentUser.user 'editor')}}
            <div class="col-md-3 text-center unit-preview {{if (isEven currentUser.user.units.length) "grey-strong" "grey-light"}}">
                {{#link-to 'new-unit'}}
                    <img src="images/new_unit.png">
                    <br>
                    <b>Neue Verhandlung</b>
                {{/link-to}}
            </div>
        {{/if}}
    </div>
</div>
{{outlet}}
