{{#top-menu}}
    Profil
{{/top-menu}}
<div class="container">
    {{#if currentUser.user.isEditor}}
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="{{currentUrl "bla"}}#profile" aria-controls="profile" role="tab" data-toggle="tab">Profil</a></li>
            <li role="presentation" class=""><a href="{{currentUrl "bla"}}#units" aria-controls="units" role="tab" data-toggle="tab">Units</a></li>
            {{#if currentUser.user.isAdmin}}
                <li role="presentation" class=""><a href="{{currentUrl "bla"}}#errorImages" aria-controls="units" role="tab" data-toggle="tab">Fehlerbilder</a></li>
            {{/if}}
        </ul>

        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="profile">
                <div class="row">
                    {{user-profile}}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="units">
                <div class="row margin-row pad">
                    <div class="col-md-12 grey-light">
                        Hallo <b>{{currentUser.user.name}}</b>! {{#if currentUser.user.units}}Hier kannst Du Dir deine Units ansehen:{{/if}}
                        </div>
                </div>
                <div class="row margin-row pad {{if currentUser.user.units.length "equal" ""}}">
                    {{#each currentUser.user.units as |unit index|}}
                        <div class="col-md-3 text-center unit-preview {{if (isEven index) "grey-strong" "grey-light"}}">
                            {{#link-to "page" unit.id unit.pages.firstObject.id}}
                                {{unit.rotateImageId}}
                                {{auth-image imageSrc="api/get-image/${id}" imageId=unit.front_image styleClasses="full-width-image"}}
                                <br>
                                <b>{{unit.title}}</b><br>
                                {{#link-to "edit-unit" unit.id class="pull-right" title="Editieren"}}
                                    <i class="glyphicon glyphicon-edit"></i>
                                {{/link-to}}
                            {{/link-to}}
                        </div>
                    {{/each}}
                    {{#if (userInGroup currentUser.user 'editor')}}
                        <div class="col-md-3 text-center unit-preview {{if (isEven currentUser.user.units.length) "grey-strong" "grey-light"}}">
                            {{#link-to 'new-unit'}}
                                <img src="images/new_unit.png">
                                <br>
                                <b>Neue Verhandlung</b>
                            {{/link-to}}
                        </div>
                    {{/if}}
                </div>
            </div>


            {{#if currentUser.user.isAdmin}}
                <div role="tabpanel" class="tab-pane" id="errorImages">
                    <div class="row margin-row pad">
                        <div class="col-md-12 grey-light">
                            Hallo <b>{{currentUser.user.name}}</b>! {{#if currentUser.user.errorImagess}}Hier kannst Du Dir deine Fehlerbilder ansehen:{{/if}}
                            </div>
                    </div>
                    <div class="row margin-row pad {{if currentUser.user.units.length "equal" ""}}">
                        {{#each currentUser.user.errorImages as |errorImage index|}}
                            <div class="col-md-3 text-center unit-preview {{if (isEven index) "grey-strong" "grey-light"}}">
                                {{#link-to "solve-error-image" errorImage.id}}
                                    {{auth-image imageSrc="api/get-image/${id}" imageId=errorImage.correctImage.id styleClasses="full-width-image"}}
                                    <br>
                                {{/link-to}}
                                {{#link-to "edit-error-image" errorImage.id class="pull-right" title="Editieren"}}
                                    <i class="glyphicon glyphicon-edit"></i>
                                {{/link-to}}
                            </div>
                        {{/each}}
                        <div class="col-md-3 text-center unit-preview {{if (isEven currentUser.user.units.length) "grey-strong" "grey-light"}}">
                            {{#link-to 'create-error-image'}}
                                <img src="images/new_error_image.png">
                                <br>
                                <b>Neues Fehlerbild</b>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="row">
            {{user-profile}}
        </div>
    {{/if}}
</div>
{{outlet}}
