<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{#if sent}}
                Registrierung erfolgreich! Sie müssen noch durch einen Admin freigeschaltet werden.<br>
                <button {{action "newUser"}} class="btn btn-primary pull-right">Einen weiteren Nutzer registrieren</button>
            {{else}}
                <form {{action 'register' on='submit'}}>
                    <div class="form-group">
                        <label for="identification">Username</label>
                        {{input id='identification' placeholder='Username' value=username class="form-control"}}
                    </div>
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        {{input id='password' placeholder='Passwort' type='password' value=password class="form-control"}}
                    </div>
                        <button type="submit" class="btn btn-primary pull-right">Register</button>
                </form>
            {{/if}}
            {{#if error}}
                Ein Fehler ist aufgetreten, bitte versuchen Sie es in wenigen Minuten erneut
            {{/if}}
        </div>
    </div>
</div>
{{outlet}}
