<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <div class="navbar-collapse collapse">
      <span class="navbar-center"><h4>{{model.page.title}}</h4></span>
    <ul class="nav navbar-nav">
        <li class="navbar-left">
            <a {{action 'showRotateImage'}} class=""><img class="navbar-image" src="images/icon-object.png"></a>
        </li>
        <li class="navbar-right">
            <div class="btn-group" role="group">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/menu.png" class="navbar-image"></a>
                <ul class="dropdown-menu">
                    <li><a {{action 'goto' 'presentation'}}><img class="navbar-image" src="images/menu_meinungsstreit.png">Meinungsstreit</a></li>
                    <li><a {{action 'goto' 'hearing-pro'}}><img class="navbar-image" src="images/menu_beweisaufnahme.png">Beweisaufnahme</a></li>
                    <li><a {{action 'goto' 'synthesis'}}><img class="navbar-image" src="images/menu_synthese.png">Bewertung der Argumente</a></li>
                    <li><a {{action 'goto' 'literature'}}><img class="navbar-image" src="images/menu_nachweise.png">Nachweise</a></li>
                    <li role="separator" class="divider"></li>
                    <li>{{#link-to 'units'}}Übersicht Units{{/link-to}}</li>
                    <li>{{#link-to 'index'}}Über diese Seite{{/link-to}}</li>
                    <li role="separator" class="divider"></li>
                    {{#if session.isAuthenticated}}
                        <li>{{#link-to 'profile'}}Mein Profil{{/link-to}}</li>
                        {{#if (userInGroup currentUser.user 'editor')}}
                            <li>{{#link-to 'unpublished-units'}}Nicht veröffentlichte Units{{/link-to}}</li>
                        {{/if}}
                        <li><a {{action 'logout'}}>Logout</a></li>
                    {{else}}
                        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
                        <li>{{#link-to 'register'}}Registrieren{{/link-to}}</li>
                    {{/if}}
                </ul>
            </div>
        </li>
    </ul>
  </div>
</div>
</nav>

<!-- BEGIN PAGE CONTENT -->

<div class="container" id="main-container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        {{#each model.maxWitnessArr as |num index|}}
                            <th>Zeuge {{num}}</th>
                        {{/each}}
                        <th>Gesamteindruck</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.results as |pageResult index|}}
                        <tr class="colors-{{model.color_scheme}} {{if (isEven index) 'neg' 'pos'}} bg">
                            <th>Zeugenbefragung {{add index 1}}</th>
                            {{#each model.maxWitnessArr as |num index|}}
                                {{#if (getObjAt pageResult.rowResults index)}}
                                    <td>
                                        {{#if (eq (getObjAt pageResult.rowResults index 'decision') 'persuasive')}}
                                            ✓
                                        {{/if}}
                                        {{#if (eq (getObjAt pageResult.rowResults index 'decision') 'inconseclusively')}}
                                            ✗
                                        {{/if}}
                                        {{#if (eq (getObjAt pageResult.rowResults index 'decision') 'abstention')}}
                                            ?
                                        {{/if}}
                                    </td>
                                {{else}}
                                    <td>-</td>
                                {{/if}}
                            {{/each}}
                            <td>
                                {{#if (eq pageResult.totalResult 'persuasive')}}
                                    ✓
                                {{/if}}
                                {{#if (eq pageResult.totalResult 'inconseclusively')}}
                                    ✗
                                {{/if}}
                                {{#if (eq pageResult.totalResult 'abstention')}}
                                    ?
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <hr>
            {{#if (eq model.overallDecision 'undecided')}}
                Die Frage kann deshalb nicht entschieden werden.
            {{else}}
                Die Frage wurde also zugunsten der Seite {{model.overallDecision}} entschieden.
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#link-to "page" model.id model.pages.lastObject.id}}<img src="images/back.png">{{/link-to}}
        </div>
    </div>
        
</div>

{{outlet}}
