{{#top-menu}}
    Units
{{/top-menu}}
<div class="container">
    <div class="row equal pad">
        <div class="col-md-6 grey-light">
            In dieser e-learning Applikation übernimmt der User die Rolle
            eines Geschworenen in einem wissenschaftlichen Meinungsstreit: das Objekt, das im Zentrum der Auseinandersetzung
            steht, ist gewissermaßen angeklagt, einen bestimmten Sachverhalt zu erfüllen, und zur Klärung werden andere 
            Gegenstände und Bildwerke als Zeugen aufgerufen. Zwei konträre
            Forschungspositionen vertreten dabei die Rolle der Prozessgegner, die sich nicht selten derselben Zeugen bedienen, so
            dass man selbst zu einem eigenen Urteil im kontroversen Forschungsstreit gelangen muss.
        </div>
        <div class="col-md-6 grey-strong">
            Diese Formen der Reflexion und Argumentation zu erlernen
            und ihre Stichhaltigkeit an umstrittenen Forschungsthesen aktiv zu überprüfen, ist Ziel dieser e-learning Applikation, wobei
            Anfänger die Argumentationsstruktur der Forschungsmeinungen nachvollziehen und bewerten sollen, während die 
            fortgeschrittenen Studenten in der selbstständigen Erstellung einer
            e-learning Einheit durch die mediale Aufbereitung eines wissenschaftlichen Meinungsstreits die Argumentationsstrukturen
            offenlegen, aufbereiten und ergänzen müssen und so die Methoden fachwissenschaftlicher Hermeneutik aktiv anwenden.
        </div>
    </div>
    <div class="row pad">
        <div class="col-md-12 grey-light">
            <img src="images/banner_small.png" class="full-width-image">
        </div>
    </div>
    <div class="row pad">
        <div class="col-md-12 grey-strong">
            <h3>Folgende Objekte stehen für eine Untersuchung zur Verfügung:</h3>
        </div>
    </div>
    <div class="row pad margin-row">
        {{#each model as |unit|}}  
            <div class="col-md-3 text-center unit-preview {{if (isEven @index) "grey-strong" "grey-light"}}">
                {{#link-to "page" unit.id unit.pages.firstObject.id}}
                <!-- <a href="unit/{{unit.id}}/{{unit.pages.firstObject.id}}">-->
                    <img src="api/get-rotate-image/{{unit.rotateImageId}}/0" class="full-width-image">
                    <br>
                    <b>{{unit.title}}</b>
                {{/link-to}}
                    <!--</a>-->
            </div>
        {{/each}}
    </div>
</div>
{{outlet}}
